<div class="container">
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Click Here to know about the Angular App
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum possimus earum in enim eum eos reiciendis adipisci quaerat, ea saepe beatae eaque repudiandae rerum odio cumque error tenetur sed doloremque quia. Odio repellendus culpa ipsum, minus laudantium, quam, quis voluptas perferendis omnis ipsam accusantium amet sapiente vero. Sequi, iure?
          </div>
        </div>
      </div>
</div>
